[submodule "openzeppelin-solidity"]
	path = openzeppelin-solidity
	url = https://github.com/OpenZeppelin/openzeppelin-solidity.git
[submodule "test/openzeppelin-solidity"]
	path = test/openzeppelin-solidity
	url = https://github.com/OpenZeppelin/openzeppelin-solidity.git
